@import url('https://fonts.googleapis.com/css?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cairo&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #2a5298;
    height: 100vh;
}

.title {
    text-align: center;
    font-size: 80px;
    font-family: 'Rubik Mono One', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    margin-top: 0;
}

.wrapper {
    /* border: 1px solid black; */
    margin: 5px auto;
    max-width: 900px;
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    align-items: stretch;
}

.box {
    width: 33.33%;
    background-size: cover;
    background-repeat: no-repeat;
    /* border: 1px solid white; */
}

.box-1,
.box-2,
.box-4,
.box-5,
.box-7,
.box-8 {
    border-right: 3px solid black;
}

.box-1,
.box-2,
.box-3,
.box-4,
.box-5,
.box-6 {
    border-bottom: 3px solid black;
}

.score img {
    width: 30px;
    height: 30px;
    position: relative;
    top: 5px;
}

.score p:nth-child(3) {
    position: relative;
    top: 3px;
}

.box:hover {
    background-color: darkgray;
}

.score {
    max-width: 800px;
    margin: 30px auto;
    display: flex;
    justify-content: center;
    font-size: 30px;
    flex-wrap: wrap;
    font-family: 'Cairo', SansSerif;
}

.score p {
    width: calc(33.33%);
    font-size: 30px;
    text-align: center;
}

.button {
    width: 300px;
    height: 60px;
    font-size: 40px;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px auto;
    cursor: pointer;
}

.button:hover {
    background-color: white;
}

.result {
    text-align: center;
    width: 100%;
    justify-self: center;
}

audio {
    display: none;
}

.single-player {
    display: flex;
    justify-content: center;
    background-color: blueviolet;
    width: 350px;
    margin: 30px auto;
    padding: 10px;
    cursor: pointer;
}

.single-player a  {
    text-decoration: none;
    color: white;
}

.single-player:hover {
    background-color: black;
    color: white;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: aliceblue;
}

.online-mode {
    display: flex;
    justify-content: center;
    background-color: blueviolet;
    width: 350px;
    margin: 30px auto;
    padding: 10px;
    cursor: pointer;

}

.online-indicator {
    display: none;
}

footer a:hover {
    color: white;
    text-decoration: none;
}

@media(max-width: 900px) {
    .title {
        font-size: 30px;
        margin-top: 20px;
    }

    .score {
        flex-direction: column;
        align-items: center;
    }

    .score p {
        margin: 2px;
        font-size: 20px;
    }

    .wrapper {
        margin: 10px;
    }

    .buttons {
        flex-direction: column;
    }
}